#flex{
   width: 91%;
    display:flex; 
    margin-top: 40px;
    gap: 10px;
    padding-left:  57px;
    padding-right:  57px;
         /* margin: 100px; */
    
   
}

#logo{
    /* width: 50%;
    margin-left: 90px;
    margin-top: 50px; */
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 p{
    text-align: center;
    margin-top: -10px;
    
    font-size: 30px;
    color: rgb(95, 95, 95);
    
 }
#h1first{
   
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 10px;
}
.top-icon{
   display: flex;
   gap: 15px;
}
 #secscreen{
    width: 600px;
    height: 600px;
 }
 #secflex{
    display: flex;
    margin-left: 100px;
 }
 .h1-p-flex-div{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 #h1sec{
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 3px;

 }
 #pre{
    font-size: 30px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
 }
 #flex2{
    display: flex;
    justify-content: center;
 }


 #divtextstyle{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 70px; */
}
#divtextstyle h1{
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 3px;
   margin-left: 10px;
}
#divtextstyle p{
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
}
 #lastflex{
    display: flex;
    justify-content: center;
 }
.last-textv-style img{
   margin-top: 90px;
   margin-left: -70px;
}
#lasth1{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 120px;
}
#lasth1 h1{
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 3px;

}
#lasth1 p{
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
}
.end{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
#forh1{
   font-size: 35px;
   font-weight: 400;
   margin-bottom: 0px;
} 
#apdiv{
   display: flex;
   gap: 15px;
   margin-top: 30px;
}
#linkdiv p{
   margin-top: 20px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;

}
#linkdiv a{
   text-decoration: none;
   color: rgb(85, 85, 253);
   margin-top: 10px;
}
#lastestdiv{
   /* margin-top: 35px; */
}